<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boom Box de Jeanne</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
</head>

<body>
    <div class="container">

        <center>
            <H1>La BoomBox de Jeanne</H1>
        </center>
        {% if now_playing %}
        <h3 id="nowPlaying">Now Playing : {{ now_playing }}</h3>
        {% endif %}
        <div class="divider"></div>
        <div class="section">
            <h4>Play</h4>
            <p>
                <form id="playform" method="post">
                    <div class="row">
                        <div class="col s3 offset-s3">
                            <a href='javascript:nextPlaylist();'
                                class="btn-large btn-floating waves-effect waves-yellow white"></a>
                        </div>
                        <div class="col s3 offset-s1">
                            <a href='javascript:playPause();'
                                class="btn-large btn-floating waves-effect waves-ligth blue"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 offset-s3">
                            <a href='javascript:prevSong();'
                                class="btn-large btn-floating waves-effect waves-light green"></a>
                        </div>
                        <div class="col s3 offset-s1">
                            <a href='javascript:nextSong();'
                                class="btn-large btn-floating waves-effect waves-light red"></a>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="row">
                        <div class="col s3">
                            <h5>Volume</h5>
                        </div>
                        <div class="col s6">
                            <p class="range-field"><input type="range" id="volume" name="volume" min="0" max="50"
                                    value="{{ volume }}" /></p>
                        </div>
                    </div>
                </form>
            </p>
            </section>
            <div class="divider"></div>
            <div class="section">
                <h4>Admin</h4>
                <p>
                    <div class="row">
                        <form id="adminform" method="post">
                            <label>
                                <input id="lock" type="checkbox" class="filled-in" {% if locked %}checked="checked"
                                    {% endif %} onchange="javascript:lockUnlock();" />
                                <span>Locked</span>
                            </label>
                            <br />
                            <label>
                                <input id="mute" type="checkbox" class="filled-in" {% if muted %}checked="checked"
                                    {% endif %} onchange="javascript:muteUnmute();" />
                                <span>Muted</span>
                            </label>
                            <br><br><input type="submit" value="refresh" />
                        </form>

                        <form action="#">

                            <div class="input-field col s10 offset-s1">
                                <select class="icons" id="listPlaylist" onchange="javascript:requestPlaylist();">
                                    {% for playlist in playlists %}
                                    <option value="{{playlist[0]}}" data-icon="img/list.png" {% if playlist[0] == pid %}
                                        disabled selected {% endif %}>{{playlist[1]}}</option>
                                    {% endfor %}
                                </select>
                                <label>Select playlist</label>
                            </div>

                            <div class="input-field col s10 offset-s1">
                                <select class="icons" id="listTrack" onchange="javascript:requestTrack();">
                                    {% for track in tracks %}
                                    <option value="{{track[0]}}" data-icon="img/track.png" {% if track[0] == tid %}
                                        disabled selected {% endif %}>{{track[1]}}</option>
                                    {% endfor %}
                                </select>
                                <label>Select track</label>
                            </div>

                        </form>
                    </div>
                </p>
                </section>
            </div>

            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="js/materialize.min.js"></script>
            <script type="text/javascript" src="js/jquery.min.js"></script>
            <script type="text/javascript" src="js/bbox.js"></script>
            <script>
                //var slider = document.getElementById("volume");
                //slider.onmouseup = function () {
                //  document.getElementById("playform").submit();
                //}

                document.addEventListener('DOMContentLoaded', function () {
                    var elems = document.querySelectorAll('select');
                    var instances = M.FormSelect.init(elems);
                });

            </script>
</body>

</html>