<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">Boom Box de Jeanne</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">BBOX</a></li>
                <li><a href="/playlist">Playlists</a></li>
                <li><a href="/radios">Web Radios</a></li>
                <li>
                    <input id="search_w" placeholder="Search" name="search" onChange="search(this.value);">
                </li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">BBOX</a></li>
    <li><a href="/playlist">Playlists</a></li>
    <li><a href="/radios">Web Radios</a></li>
    <li>
        <input id="search_b" placeholder="Search">
    </li>
</ul>