<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boom Box de Jeanne</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">Boom Box de Jeanne</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">BBOX</a></li>
                    <li><a href="/playlist">Playlists</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">BBOX</a></li>
        <li><a href="/playlist">Playlists</a></li>
    </ul>


    <div class="container">

        <center>
            <H1>Playlists</H1>
        </center>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            {% for pl in playlists %}
            <div class="card-panel grey lighten-4 z-depth-1">
                <a href="{{base_url}}playlist?pid={{pl[0]}}">
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img src="{{cover_base_url + pl[3]}}" alt="" class="responsive-img">
                        </div>
                        <div class="col s8">
                            <span class="black-text">
                                <p class="flow-text">{{pl[1]}}</p>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bbox.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
            var elems2 = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems2);
        });

    </script>
</body>

</html>